*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

html {  
scroll-behavior: smooth;
}

body{
background-color: #F9FAFF;
font-family: "Manrope", sans-serif;
font-weight: 500;
font-style: normal;
}

li{
list-style-type: none;
}

a{
text-decoration: none;
text-decoration: inherit;
color: inherit;
}

.header{
margin: 0 auto;
padding-top: 30px;
padding-bottom: 36px;
background-color: #FFFFFF;
}

.container{
max-width: 1110px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 14px;
}

.title{
font-size: 40px;
color: #9A888A;
margin-bottom: 18px;

}

.number{
color: #546272;
font-size: 18px;
}
	
.vk-link{
display: flex;
align-items: center;
}

.vk-link__left{
background-color: #546272;
padding: 13px 19px;
border-radius: 24px;
margin-right: 16px;
color: #FFFFFF;
}


.vk-link__right{
background-color: #FFFFFF;
padding: 10px 44px 12px 31px;
border:1px solid #EBEBEB;
border-radius:24px;
display: flex;
align-items: center;

}

.vk-link__right img{
width: 100%;
}

.user-vk{
margin-right: 13px;
}


.menu-container{
max-width: 1110px;
margin: 0 auto;
border-top: 1px solid #D4D7DB;
}

.menu{
display: flex;	
justify-content: space-around;
padding: 0px 100px;
}

.menu__item{
margin: 10px 0px;
color: #546272;
}

.top{
background-color: #DED6D5;
}

.sale-title{
font-size: 40px;
color: #546272;
margin-bottom: 32px;
}

.sale-subtitle{
font-size: 24px;
color: #546272;
margin-bottom: 56px;
}

.sale-link{
text-decoration: none;

color:#FFFFFF;
background-color: #546272;
display: inline-block;
max-width: 186px;
padding: 12px 50px 14px 50px;
border-radius: 24px;
}

.price-section{
max-width: 1110px;
margin: 0 auto;
position: relative;
}

.price-list__img{
display: inline-block;
position: absolute;
bottom: 0px;
left: 273px;
opacity: 0.2;
max-width: 100%;
}

.price-title{
margin-top: 94px;
padding-bottom: 42px;
}

.price-list{
background-color: #E7E1E0;
max-width: 1091px;
max-height: 350px;
border-radius: 24px;
margin-bottom: 93px;
}

.price-list__items{
column-count: 2;
padding: 57px 191px 130px 42px;
}

.price-list__item{
font-weight: 800;
color: #546272;
line-height: 60px;
font-size: 24px;
}


.about{
background-color: #E7E1E0;
position: relative;
max-height: 700px;
}

.about-container{
max-width: 1110px;
margin: 0 auto;
padding-top: 13px;
}

.about-title{
color: 	#546272;
font-size: 44px;
padding-bottom: 13px;
}

.about__main{
display: flex;
}


.img-house{
position: 	relative;
bottom: 60px;
}

.benefits{
max-width: 1110px;
position: relative;
background-color: #FFFFFF;
bottom: 0px;
display: flex;
margin: 0 auto;
justify-content: space-between;
padding: 32px 30px 50px 52px;
border-radius: 24px;
}

.benefits-container{
display: flex;
align-items: center;
}

.benefits-container-center{
border-left: 1px solid #EBEBEB;
border-right: 1px solid #EBEBEB;
padding: 0px 22px;
}

.benefits__img{
margin-right: 20px;
}

.benefits-inner-p{
max-width: 270px;
text-align: left;
margin-left: 63px;
}

.benefits-inner-center{
margin-left: 85px;
margin-top: 13px;
}

.revievs{
background-color: #F7F7FB;
}

.revievs-container{
max-width: 1110px;
margin: 0 auto;
padding-top: 230px;
}

.revievs-title{
display: flex;
justify-content: space-between;
align-content: center;
margin-bottom: 42px;
}

.revievs-subtitle{
font-size: 32px;
color: #546272;
}

.revievs-link{
background-color: white;
border: 1px solid #E7E1E0;
align-content: center;
padding: 10px 40px 10px 20px;
border-radius: 24px;
color: #546272;
}

.revievs__items{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.revievs__item{
background-color: #FFFFFF;
padding: 32px 32px 32px 32px;
max-width: 350px;
height: 412px;
color: #546272;
border-radius: 25px;
}

.revievs__text{
color: #546272;
font-size: 	24px;
}

.revievs__link{
background-color: #546272;
padding: 10px 100px 12px 100px;
border-radius: 25px;
}

.revievs__link__text{
color: #FFFFFF;
display: flex;
justify-content: center;
white-space: nowrap;
}


.revievs__item__button{
background-color: #E7E1E0;
display: flex;
flex-direction: column;
justify-content: space-between;
}


.contacts{
background-color: #F7F7FB;
}

.contacts-container{
max-width: 1110px;
margin: 0 auto;
background-color: #F7F7FB;
display: flex;
flex-direction: column;
}

.contacts-title{
font-size: 32px;
font-weight: 700;
margin-top: 130px;
color: #546272;
margin-bottom: 42px;
}

.map{
margin: 0px 70px 70px 0px;
}

.contacts-main-inner{
display: flex;
justify-content: right;
flex-wrap: wrap;
}

.contacts-main{
background-color: #FFFFFF;
padding: 32px;
margin: 0 auto;
flex-basis: 539px;
display: flex;
flex-direction: column;
border-radius: 24px;
font-style: normal;
}

.contacts-main_title{
font-size: 32px;
color: #546272;
font-style: inherit;
margin-bottom: 34px;
}

.contacts-main_address{
font-size: 20px;
color: #546272;
font-style: inherit;
font-weight: 700;
margin-bottom: 25px;
}

.record__contacts{
color: #546272;
}

.footer{
margin-top: 60px;
background-color: #546272;
max-width: 100%;
}

.footer_inner{
max-width: 1110px;
margin: 0 auto; 
padding: 10px 80px 10px 80px;
display: flex;
justify-content: space-between;
}

.footer_inner_text{
color: #FFFFFF;
line-height: 24px;
font-size: 20px;
margin-top: 30px;
margin-bottom: 30px;
}

.phone_record{
color: #FFFFFF;
margin-top: 30px;
}

.phone_record_link{
color: #FFFFFF;
text-decoration: none;
line-height: 24px;
font-size: 20px;
}

.vk-link__left:hover{
opacity: 80%;
transition: 0,5s;
}

.vk-link__right:hover{
opacity: 60%;
}
.menu__item:hover{
opacity: 60%;
}

.diskount-section{
max-width: 1110px;
margin: 0 auto;
position: relative;
}

.diskount-title{
margin: 50px 0px 50px 0px;
font-size: 32px;
color: #546272;
}

.diskount-list{
background-color: #E7E1E0;
max-width: 1091px;
height: 400px;
border-radius: 24px;
margin-bottom: 93px;
}

.discount-list__items{
max-width: 900px;
margin: auto;
padding-top: 60px;
}

.discount-list__item{
font-size: 32px;
margin-bottom: 30px;
}

@media (max-width: 1190px){
.header{
padding: 30px 50px 36px 50px;
}
.top__slide{
padding: 0px 50px 0px 50px;
min-height: 335px;
}
.price-section{
padding: 0px 50px 0px 50px;
}

.sale-title{
font-size: 25px;
 }
    
.sale-subtitle{
font-size: 15px;
}

.price-list__item{
    font-size: 17px;
    }

.about-container{
display: flex;
margin: 0 auto;
flex-direction: column;
padding-bottom: 50px;
}

.about-title{
display: flex;
margin: 0 auto;
}

.about-text{
display: block;
margin: 0 auto;
}

.img-house{
display: none;
}

.benefits-inner-p{
font-size: 12px;
}

.revievs__items{
justify-content: space-around;
}
    
.revievs__item{
margin-bottom: 50px;
}

.revievs-subtitle{
margin-left: 50px;
}

.revievs-link{
margin-right: 50px;
}

.diskount-title{
margin-left: 100px;
}

.contacts-title{
margin-left: 100px;
}

.map{
margin: 0px auto 70px auto;
}

.discount-list__item{
font-size: 25px;
margin: 0px 40px 0px 40px;
}

}


@media (max-width: 900px){
.title{
font-size: 30px;
}

.number{
font-size: 13px;
}

.saleGirlImg{
display: none;
}

.vk-link__left{
font-size:12px;
}

.vk-link__right{
font-size:12px;
padding: 10px 37px 12px 24px;
}

.slide-container{
display: flex;
justify-content: space-around;
}

.price-list__item{
font-size: 12px;
}

}

@media (max-width: 750px){
.title{
font-size: 23px;
}

.number{
font-size: 10px;
}

.menu__item{
font-size: 10px;
}

.price-list__img{
display: none;
}

.benefits{
flex-direction: column;
}

.benefits-container-center {
    border-left: 0px;
    border-right: 0px;
    padding: 0px 0px;
}

.benefits-inner-center {
    margin-left: 63px;
}

.footer_inner_text{
font-size: 12px;
margin-top: 10px;
margin-bottom: 10px;
}

.phone_record_link{
font-size: 12px;

}

}

@media (max-width: 700px){
.price-list__items{
padding: 57px 21px 80px 42px;
}

.title{
font-size: 19px;
}

.menu-container{
margin-top: 10px;
}

}

@media (max-width: 640px){
.header{
padding: 28px 10px 36px 10px;
}

}

@media (max-width: 540px){
.number{
display: none;
}
.menu__item{

}

.menu{
padding: 0px;
}

.price-section{
padding: 0px 12px;
}

.about-text{
font-size: 12px;
}

.price-list__item{
font-size: 10px;
}
}

@media (max-width: 420px){
.vk-link__left{
font-size: 8px;
}

.vk-link__right{
font-size: 8px;
padding: 6px 27px 8px 14px;
}

.title{
font-size: 30px;
margin-right: 100px;
}

.about-title{
font-size: 30px;
}

.container{
flex-wrap: wrap;
}

.footer_inner{
padding: 10px 30px;
}
}

@media (max-width: 420px){
.revievs-title{
margin-top: 100px;
flex-wrap: wrap;
}

.revievs-subtitle{
margin-top: 40px;
}

.revievs-link{
display: none;
}

.revievs__item{
max-width: 300px;
padding: 32px 10px;
}

.discount-list__item{
font-size: 15px;
}

.price-list__items{
padding: 10px 10px 10px 10px;
flex-wrap: wrap;
column-count: 1;
}

.price-list__item{
line-height: 30px;
font-size: 10px;
}

.about-text{
margin: 0px 30px;
}
}

@media (max-width: 370px){
.title{
margin-right: 0px;
}
}
